<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <title>Каталог товаров</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>

<!--<div class="fluid-container" th:fragment="navi(activeTab)">-->
<!--    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary ">-->
<!--        <a class="navbar-brand" th:href="@{/}">Login to make an order</a>-->

<!--        <div class="collapse navbar-collapse" id="navbarNav">-->
<!--&lt;!&ndash;                    <form th:action="@{/logout}" method="POST">&ndash;&gt;-->
<!--&lt;!&ndash;                        <input type="submit" class="btn btn-danger" value="Logout"/>&ndash;&gt;-->
<!--&lt;!&ndash;                    </form>&ndash;&gt;-->

<!--&lt;!&ndash;                <li sec:authorize="isAnonymous()" class="nav-item">&ndash;&gt;-->
<!--                    <form class="align-middle" th:action="@{/products/authenticateUser}" method="POST">-->
<!--                        <div class="input-group-prepend">-->
<!--                            <input class="form-control" type="text" placeholder="Логин" name="username"-->
<!--                                   aria-describedby="inputGroup-sizing-sm">-->
<!--                            <input class="form-control" type="text" placeholder="Пароль" name="password"-->
<!--                                   aria-describedby="inputGroup-sizing-sm">-->
<!--                            <button class="btn btn-secondary btn-sm" type="submit">Войти</button>-->
<!--                        </div>-->
<!--                    </form>-->
<!--        </div>-->
<!--    </nav>-->
<!--    <div class="visible-md" style="height:80px;"></div>-->
<!--</div>-->

<a th:href="@{/products/login}" class="btn">Войти</a>
</p>

</p>
<div class="container">
    <div sec:authorize = "isAuthenticated()">
        Authenticated username:
        <div sec:authentication = "principal.username"></div>
        Authenticated user roles:
        <div sec:authentication = "principal.authorities"></div>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Название товара</th>
            <th>Цена</th>
            <th sec:authorize="hasRole('ADMIN')">Просмотры</th>
            <th sec:authorize="hasRole('ADMIN')">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"/>
            <td>
                <a th:href="@{'/products/show/' + ${product.id}(page=${page},search=${search},min_value=${min},max_value=${max})}" th:text="${product.title}"/>
            </td>
            <td th:text="${product.price}"/>
            <td sec:authorize="hasRole('ADMIN')" th:text="${product.reviews}"/>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{'/products/edit/' + ${product.id}(page=${page})}">Редактировать</a>
            </td>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{'/products/remove/' + ${product.id}(page=${page})}">Удалить товар из листа</a>
            </td>
        </tr>
        </tbody>
    </table>

    <a sec:authorize="hasRole('ADMIN')" th:href="@{/products/add}" class="btn">Добавить новый товар</a>
    </p>

    <a sec:authorize="hasRole('ADMIN')" th:href="@{/products/showTopThree}" class="btn">Показать топ-3</a>
    </p>

    <span th:text="${'Всего товаров ' + products.size()}"/>
    </p>
    <form th:action="@{/products}" method="get">
        <span>Search</span>
        <input name="search" th:value="${search != null} ? ${search}"/>
<!--        <button type="submit">Поиск</button>-->

        <span>Min price</span>
        <input name="min_value" th:value="${min == null ? 0 : min }"/>
<!--        <button type="submit">Мин. цена</button>-->

        <span>Max price</span>
        <input name="max_value" th:value="${max == null ? 0 : max }"/>
        </p>
        <button type="submit">Отфильтровать</button>
    </form>
    </p>

    <a th:href="@{/products}">
    <button type="button">Сбросить фильтр</button>
    </a>
    <br>
    </p>
    <div th:each="i:${#numbers.sequence(1, pageCount)}">
        <a th:href="@{/products(page=${i},search=${search},min_value=${min},max_value=${max})}" th:text="${i}"/>
<!--    <a th:href="@{'/products/' + ${1}}" th:text="1"/>-->
<!--    <a th:href="@{'/products/' + ${2}}" th:text="2"/>-->
<!--    <a th:href="@{'/products/' + ${3}}" th:text="3"/>-->
<!--    <a th:href="@{'/products/' + ${4}}" th:text="4"/>-->
<!--    <a th:href="@{'/products/' + ${5}}" th:text="5"/>-->
    </div>

</div>

</body>
</html>